{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "google", "prettier"],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "max-len": "off",
    "no-trailing-spaces": "off",
    "prettier/prettier": ["error"],
    "require-jsdoc": "off",
    "valid-jsdoc": "off"
  }
}
